* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #fff;
}
/*-------------------------------HEADER-------------------------------*/
header {
    width: 640px;
    margin: auto;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 0;
}

.page-title h3 {
    background-color: #5dbcd2;
    color: #fff;
    padding: 10px 0;
} 
/*-------------------------------END HEADER-------------------------------*/
/*-------------------------------GAME-------------------------------*/
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;
    background-color: #c4c4c4;
    margin-top: 10px; 
    perspective: 1000px;
}

.memory-card {
    width: 25%;
    height: 25%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .4s;
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.front, .back {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
} 

.front {
    transform: rotateY(180deg);
} 
/*-------------------------------END GAME-------------------------------*/
/*-------------------------------FOOTER-------------------------------*/
/*-------------------------------END FOOTER-------------------------------*/ 