@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
</style>

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #fff;
    font-family: 'Cabin', sans-serif;
}
/*-------------------------------HEADER-------------------------------*/
header {
    width: 640px;
    margin: auto;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 0;
}

.page-title h3 {
    background-color: #06C0E7;
    color: #fff;
    padding: 10px 0;
} 
/*-------------------------------END HEADER-------------------------------*/
/*-------------------------------BUTTONS AND COUNTER, ABOVE AND UNDER GAME-------------------------------*/
.game {
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.counter, .dropdown, .instructions, .reset {
    text-align: center;
}

.instructions button, #play-again {
    border: none;
    padding: 0;
}

.dropdown-toggle, .counter p, .instructions button, #play-again {
    width: 100px;
    border-radius: 10px;
    background-color: #c4c4c4;
    color: #fff;
    margin: 0;
    padding: 0;
    border: none;
    outline:none;
}

.instructions button:hover, #play-again:hover, .dropdown-toggle:hover {
    text-decoration: none;
    color:#06C0E7;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1
}

.reset {
    padding-top: 10px;
}

/*-------------------------------END BUTTONS AND COUNTER, ABOVE AND UNDER GAM-------------------------------*/
/*-------------------------------MODAL-------------------------------*/
.information-modal {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-modal {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
    z-index: 1000;
}

.modal-content {
    width: 600px;
    background-color: #fff;
    padding: 2rem 4rem;
}

.modal-content h2 {
    text-align: center;
    color: #06C0E7;
}

.modal-content p {
    text-align: center;
}

.modal-close {
    display: flex;
    justify-content: flex-end;
    margin: -1rem -2rem 0 0;
    }

.modal-close span {
    cursor: pointer;
}

.modal-hidden {
    display: none;
}


/*-------------------------------END MODAL-------------------------------*/
/*-------------------------------GAME-------------------------------*/
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;
    background-color: #c4c4c4;
    margin-top: 10px; 
    perspective: 1000px;
}

.memory-card {
    width: 25%;
    height: 25%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}



.memory-card:active {
    transform: scale(0.97);
    transition: transform .4s;
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.front, .back {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
} 

.front {
    transform: rotateY(180deg);
} 

.hide-card {
    display: none;
}

.show-card {
    display: flex;
}

/*-------------------------------END GAME-------------------------------*/
/*-------------------------------FOOTER-------------------------------*/
footer {
    background-color: #c4c4c4;
    color: #fff;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;    
    }

footer > p {
    margin: 5px 0;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;
}

.social-links i {
  font-size: 1.25rem;
  padding: .5%;
  color: #fff;
}

.social-links a {
    text-decoration: none;
}

.social-links li a i:hover {
    text-decoration: none;
    color:#06C0E7;

}
/*-------------------------------END FOOTER-------------------------------*/ 
/*-------------------------------MEDIA QUERIES-------------------------------*/
@media screen and (min-width: 360px) and (max-width: 660px) {
    .memory-game {
        width: 360px;
        height: 360px;
    }

    header, .game {
    width: 360px;
    }

    img.back {
    padding: 3px;
    }
}
 @media screen and (min-width: 320px) and (max-width: 360px) {
    .memory-game {
        width: 320px;
        height: 320px;
    }

    header, .game {
    width: 320px;
    }

    img.back {
    padding: 3px;
    }

}

 @media screen and (min-width: 280px) and (max-width: 320px) {
    .memory-game {
        width: 260px;
        height: 260px;
    }

    img.back {
    padding: 3px;
    }

    header, .game {
    width: 260px;
    }


    h3 {
        font-size: 1.25rem;
    }

    .dropdown-toggle, .counter p, .instructions button, #play-again {
    font-size: 0.7rem;
    width: 70px;    
    }

    footer p, .social-links i {
    font-size: 0.7rem;
    }

    ul.list-inline.social-links, footer p {
        margin: 0;
    }
}

@media screen and (min-height: 1366px) and (min-width: 1024px) {
    .memory-game {
        width: 900px;
        height: 900px;
    }

    header, .game {
    width: 900px;
    }
    
    .game {
        padding: 10px 0 10px;
    }
    
    h3 {
    font-size: 3rem;
    }
    
    .dropdown-toggle, .counter p, .instructions button, #play-again {
    font-size: 2rem;  
    width: 200px; 
    border-radius: 30px;
    }

    footer p, .social-links i {
    font-size: 2rem;
    }
}

/*-------------------------------END MEDIA QUERIES-------------------------------*/